#body
{
    background-color: #2a1a4f;
}
#header
{
      color: white;
      background-color: #110418;
      font-style:oblique;
      align-items:normal;
      display:flex;
      text-align:end;
       
}
p
{
      font-style:normal;
      font-size: 17px;
      font-size: x-large;
      text-align: center;
      padding: 29px;
      
}
.nav-item
{
    color: #110418;
    display: flex;
 justify-content:center ;
}
#link
{
    color: #110418;
}
#link:visited
{
 color: black;
}
#link:active
{
    color: #6a53a1;
}
#link:hover
{
 border-radius: 1%;
 background-color: green;
 border-radius: 30px;
}
#nav_par_all
{
    display:flex;
    gap: 20px;
    border: #2a1a4f 10px solid;
}
#img
{
    float:right;
    margin-right: 2px;
    border: #7d197a 5px solid;  
    border-radius: 30px;
}
#all_about_my
{
    background-color: #6a53a1;
    align-items:center;
}
#ab
{
    margin: 10px;
    color:white;
    font-size:xx-large;
    line-height: 1.6;
    font-style:italic;
    display: inline-block; /* أو inline */
    border: 4px solid black;
    border-radius: 30px;

}
#about_my
{
      display:flex; /* تخلي العناصر جنب بعض */
      align-items:normal; /* عشان الكلام يبقى في نص الصورة */
      gap: 10px; /* مسافة بين الكلام والصورة */
      border: 2px solid black;
      border-radius:  30px; ;
}
#box
{
      color: #e6f1b1;
      background-color: #6a53a1;
      font-style:initial; 
      font-size:x-large;
}
#cd
{
    margin: 10px;
    justify-content: center;
    text-align: center;
    color:white;
    font-size:xx-large;
    line-height: 1.6;
    font-style:italic;
    display: inline-block; /* أو inline */
    border: 4px solid black;
    border-radius: 30px; ;
}
#samp_li
{
    font-size:x-large;
    color: black;
    font-weight: bolder;
    font-style: italic;
   
}
#samp_all
{
      align-items:normal; /* عشان الكلام يبقى في نص الصورة */
      gap: 10px; /* مسافة بين الكلام والصورة */
      border: 2px solid black;
      border-radius:  30px; ;
}
#strong_ol
{
    color:black;
    list-style-type:lower-alpha;
    display: flex;
    gap: 30px;
}
#strong_ol:active
{
    color:green;
}
ul
{
    color: #e6f1b1;
}

